
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f8f3;
    color:#333;
}

header{
    height:100vh;
    background:linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854');
    background-size:cover;
    background-position:center;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:rgba(0,0,0,0.4);
}

nav h1{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.hero h2{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    max-width:700px;
}

.hero button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    background:#2e7d32;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-size:1rem;
}

.hero button:hover{
    background:#1b5e20;
}

.section{
    padding:80px 10%;
    text-align:center;
}

.section h2{
    margin-bottom:20px;
    color:#2e7d32;
}

.destaque{
    background:#e8f5e9;
}

.cards{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:30px;
}

.card{
    background:white;
    padding:25px;
    width:300px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.contador{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
}

.contador span{
    display:block;
    font-size:3rem;
    color:#2e7d32;
    font-weight:bold;
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:30px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:15px;
    }

    .hero h2{
        font-size:2rem;
    }

}
